page-user-profile {
	.item-profile {
		width: 100%;
		background-position: center center;
		background-size: cover;
		height: 250px;
	}

	.item-detail {
		width: 100%;
		background: white;
		position: absolute;
	}

	.circular-profile{
		// background-color: white;
		margin-top: 15px;
		border: 5px solid color($colors, ffPrimary);
		border-radius: 50%;
		box-shadow: 0 0 25px gray;
		margin-left: auto;
		margin-right: auto;
		width: 40vw;
		height: 40vw;
		display:flex;
		align-items:center;
		justify-content:center;
		position: relative;
		background-repeat: no-repeat;
		background-position: 50%;
		background-size: contain;
	}

	.border{
		border: 2px solid color($colors, ffPrimary);
		border-radius: 50%;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: 50%;
	}

	.description{
		width:51vw;margin-left:auto;margin-right:auto;display:block;
	}

	 .about {
		 text-decoration: none;
		 color: color($colors, ffPrimary);
		 -webkit-transition: all 0.25s ease;
		 -o-transition: all 0.25s ease;
		 transition: all 0.25s ease;
	 }
}
